{{additemform.$valid}}
{{additemform.$dirty}}
{{additemform.$pristine}}
<div class="alert alert-danger" role="alert" ng-show="!additemform.$valid && additemform.$dirty">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Error!</strong>Please enter valid input!
</div>
<form name="additemform">
<input type="text" ng-model="item.name" ng-pattern="/^[a-zA-Z]*$/" required></input>
<button class="btn btn-success" ng-click="additemform.$valid && add()">Save</button>
<a href="#/" class="btn btn-default">Cancel</a>
</form>
